@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/HelveticaNeueCyr-UltraLight.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 971px;
  margin: 0 auto;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  padding: 20px 20px 20px 20px;
  background-color: #fd926d;
  color: #ffffff;
  border-bottom: 2px solid #dd6b44;
  text-transform: uppercase;
  text-decoration: none;
}

.btn__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
}

.btn__arrow svg {
  width: 5px;
  height: 5px;
}

.btn:hover {
    background-color: #d87c5d;
}

.add-cart-btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px;
  background-color: #fd926d;
  color: #ffffff;
  border-bottom: 2px solid #dd6b44;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
  font-size: 12px;
}

.add-cart-btn:hover {
    background-color: #dd6b44;
}

.add-cart-btn svg {
  margin-left: 5px;
  width: 11px;
  height: 11px;
}

.menu-top {
  background-color: black;
}

.menu-top__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
    align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "Arial MT", sans-serif;
  font-size: 11px;
  font-weight: 400;
}

.menu-top__phone {
  padding: 10px 0 9px 0;
  margin-right: 8px;
}

.menu-top__phone a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.menu-top__phone a:hover{
    color: #fd926d;
}

.menu-top__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
    align-items: center;
}

.menu-top__money {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-left: 1px solid #666666;
}
.menu-top__money::before {
    content: '';
    background: url("../img/header-menu/down-arrow.svg") center no-repeat;
    position: absolute;
    width: 8px;
    height: 6px;
    top: 50%;
    margin-top: -3px;
    right: 0;
    margin-right: 12px;
}
.menu-top__money:hover::before {
    background: url("../img/header-menu/down-arrow-black.svg") center no-repeat;
}

.menu-top__money select{
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000000;
    font-family: "Arial MT", sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px 14px 7px 15px;
}

.menu-top__account {
    position: relative;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-left: 1px solid #666666;
    padding: 11px 15px 9px 38px;
    height: 100%;
}
.menu-top__account::before {
    content: '';
    background: url("../img/header-menu/user.svg") center no-repeat;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    margin-top: -7.7px;
    margin-left: -22px;
}
.menu-top__account:hover::before {
    background: url("../img/header-menu/user-black.svg") center no-repeat;
}


.menu-top__search {
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 15.5px;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
}
.menu-top__search::before {
    content: '';
    background: url("../img/header-menu/magnifying-glass-white.svg") center no-repeat;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    margin-top: -7.5px;
    left: 50%;
    margin-left: -7.5px;
}
.menu-top__search:hover::before {
    background: url("../img/header-menu/magnifying-glass-black.svg") center no-repeat;
}

.menu-top__money select:hover,
.menu-top__account:hover,
.menu-top__search:hover {
    background-color: #fd926d;
    color: black;

}
.menu-top__search:hover path{
    fill: black
}

.header-menu__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}

.header-menu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-list {
  margin-right: 24px;
}

.menu-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-list ul li {
  margin-right: 30px;
}

.menu-list ul li:last-child {
  margin-right: 0;
}

.menu-list ul li a {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #111111;
  font-family: "Arial MT", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.menu-list ul li a:hover {
    color: #fd926d;
    fill: #fd926d;
}



.menu-list__arrow {
  margin-left: 4px;
  width: 7px;
  height: 4px;
}

.menu-cart {
  border: 1px solid #d6d6d6;
}
.menu-cart__select-wrap {
    position: relative;
    border-bottom: 1px solid #d6d6d6;
}
.menu-cart__select-wrap:after {
    content: '';
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #b3b3b3 transparent transparent transparent;
    top: 40%;
    right: 5%;
    position: absolute;
    pointer-events: none
}
.menu-cart__select-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    padding: 12px 0 12px 9px;
    color: #949393;
    font-family: "Arial MT", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.menu-cart__select select {
    width: 100%;
}
.menu-cart__img {
    margin-right: 99px;
}

.menu-cart__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    align-items: center;
  color: #d6d6d6;
  text-transform: uppercase;
  font-family: "Arial MT", sans-serif;
  font-size: 11px;
  font-weight: 400;
}

 .menu-cart__items {
     border-right: 1px solid #cacaca;
     padding-right: 7px;
 }
.menu-cart__cash {
    padding-left: 7px;
}


.menu-cart__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    background-color: #fafafa;
    padding: 7px 10px 7px 10px;

}


.main-slider {
  margin-bottom: 60px !important;
}

.main-slider__slide {
  position: relative;
  height: 440px;
  background-color: #f6f3ec;
}

.main-slider__item {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-slider__img {
  position: absolute;
  right: 0;
  z-index: 9;
}

.main-slider__text {
  position: absolute;
  -webkit-transform: translateY(20%);
  transform: translateY(20%);
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Arrows */

.main-slider .slick-prev,
.main-slider .slick-next {
  background-color: #ffffff;
  width: 30px;
  height: 117px;
  z-index: 10;
}

.main-slider .slick-prev {
  left: 0;
}

.main-slider .slick-prev:before {
  color: #d6d6d6;
}

.main-slider .slick-next {
  right: 0;
}

.main-slider .slick-next:before {
  color: #d6d6d6;
}

/* Dots */

.slick-dots {
  bottom: -40px;
}

.slick-dots li button:before {
  font-size: 10px;
  color: #666666;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #fd926d;
}

.subscribe {
  background-color: #d6d6d6;
}

.subscribe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.subscribe-form form {
    display: flex;
    align-items: center;
}

.subscribe-form form label {
  font-family: 'Arial MT', sans-serif;
  font-size: 12px;
  color: #666666;
    margin-right: 10px;
}

.subscribe-form .form__email {
    border: none;
    color: #9f9f9f;
    font-family: "Arial - Italic MT", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    padding: 6px;
}
.subscribe-form .form__submit {
    cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    width: 28px;
    height: 26px;
    box-sizing: border-box;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #dd6b44;
    background-color: #fd926d;
    color: #ffffff;
}

.subscribe-form .form__submit:hover {
    background-color: #dd6b44;
}
.subscribe-form .form__submit:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.5px;
    margin-top: -5.5px;
    z-index: 500;
    background-color: #ffffff;
    width: 3px;
    height: 11px;
}
.subscribe-form .form__submit:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5.5px;
    margin-top: -1.5px;
    z-index: 500;
    background-color: #ffffff;
    width: 11px;
    height: 3px;
}


.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 50px;
}

.banner__box {
  margin-right: 2px;
  width: 50%;
}

.banner__items-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}

.banner__item1 {
  position: relative;
  width: 100%;
  margin-right: 10px;
}

.banner__item1 img {
  width: 100%;
}

.banner__item1__text {
  position: absolute;
  top: 20%;
  right: 8.5%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.banner__item1__text:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.banner__item2 {
  position: relative;
  width: 99.5%;
}

.banner__item2 img {
  width: 100%;
  height: 100%;
}

.banner__item2__text {
  position: absolute;
  top: 5%;
  left: 6%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.banner__item2__text:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.banner__item3 {
  position: relative;
  width: 50%;
}

.banner__item3 img {
  width: 99%;
}

.banner__item3__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 4%;
  left: 3%;
  color: #ffffff;
  font-family: "Helvetica", sans-serif;
  font-size: 29px;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.banner__item3__text:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.banner__item3__text-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 5px;
}

.banner__item3__text-arrow svg {
  width: 10px;
  height: 11px;
}

.banner__item4 {
  position: relative;
  width: 50%;
}

.banner__item4 img {
  width: 99%;
}

.banner__item4__text {
  position: absolute;
  bottom: 12%;
  left: 10%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.banner__item4__text:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.banner__item4__text-title {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
  font-size: 36px;
  font-weight: 100;
}

.banner__item4__text .btn {
  padding: 10px;
  margin-top: 20px;
  border: none;
  background-color: #4fafa0;
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
}

.banner__item4__text .btn:hover {
    background-color: #3b8277;
}

.banner__item4__text-arrow {
  margin-left: 10px;
}

.banner__item4__text-arrow svg {
  width: 10px;
  height: 10px;
}

/* оформляем слайдер с товарами*/

.slider-nav ul {
    display: flex;
}
.slider-nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #555555;
    font-family: "Arial MT", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
.slider-nav ul li a:hover {
    color: #ffffff;
    background-color: #fd926d;
}

.products-slider-wrap {
    padding: 30px 0 30px 0;
    background-color: #fd926d;

}

/* Arrows */

.products-slider-wrap .slick-prev,
.products-slider-wrap .slick-next {
    display: block;
    background-color: #f2f2f2;
    width: 47px;
    height: 47px;
    z-index: 10;
    top: 0;
    transform: translateY(-100%);
}
.products-slider-wrap .slick-prev:hover,
.products-slider-wrap .slick-next:hover{
    background-color: #fd926d;
}
.products-slider-wrap .slick-prev {
    left: auto;
    right: 23.5%;
}

.products-slider-wrap .slick-prev:before {
    color: #d6d6d6;
}

.products-slider-wrap .slick-next {
    right: 21%;
}

.products-slider-wrap .slick-next:before {
    color: #d6d6d6;
}



.text-box {
  text-align: center;
}

.clearance-wrap {
  margin-top: 25px;
}

.clearance-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.clearance-title:after {
  content: '';
  position: absolute;
  width: 39%;
  height: 1px;
  background-color: #d6d6d6;
  top: 50%;
  left: 0;
}

.clearance-title:before {
  content: '';
  position: absolute;
  width: 39%;
  height: 1px;
  background-color: #d6d6d6;
  top: 50%;
  right: 0;
}

.clearance-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.clearance-products__item {
  position: relative;
  width: 220px;
}

.clearance-products__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f7f7f7;
}

.clearance-products__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  height: 290px;
}

.clearance-products__item img {
  width: auto;
}

.clearance-products__item-name {
  text-transform: uppercase;
  font-family: "Arial MT", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #373737;
}

.clearance-products__item-price {
  margin-top: 12px;
  color: #373737;
  font-family: "Arial MT", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.clearance-products__item-btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px;
  background-color: #fd926d;
  color: #ffffff;
  border-bottom: 2px solid #dd6b44;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
  font-size: 12px;
}

.clearance-products__item-btn svg {
  margin-left: 5px;
  width: 11px;
  height: 11px;
}

.item--sale:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: url("../img/clearance/sale.png") no-repeat;
  top: 0;
  left: 0;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

.brands-wrap {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.brands-title {
  position: relative;
  text-align: center;
  color: #414141;
  font-family: "Arial - Bold MT", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.brands-title:after {
  content: '';
  position: absolute;
  width: 44%;
  height: 1px;
  background-color: #d6d6d6;
  top: 50%;
  left: 0;
}

.brands-title:before {
  content: '';
  position: absolute;
  width: 44%;
  height: 1px;
  background-color: #d6d6d6;
  top: 50%;
  right: 0;
}

.brands:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d6d6d6;
  bottom: 0;
  left: 0;
}

.about-wrap {
  padding: 30px 0 30px 0;
}

.about__title {
  text-align: center;
  color: #414141;
  font-family: "Arial MT", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.about__text {
  text-align: center;
  margin-top: 14px;
  color: #999999;
  font-family: "Arial MT", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pay span {
  margin-right: 15px;
  opacity: 0.5;
  color: #414141;
  font-family: "Arial MT", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.pay-wrap {
  background-color: #f7f7f7;
  padding: 19px 0 19px 0;
}




.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 35px;
}

.footer-wrap {
    padding: 35px 0 35px 0;
}

.footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer-box__title {
    text-decoration: none;
    color: #544f4d;
    font-family: "Arial - Bold MT", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 19px;
}

.footer-box__title:hover {
    color: #fd926d;
}

.footer-box__item {
    text-decoration: none;
    opacity: 0.7;
    color: #544f4d;
    font-family: "Arial MT", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.footer-box__item:hover {
    color: #fd926d;
}

.footer-box__social {
    width: 33%;
    animation-duration: 2s;
}

.footer-box__social:hover {
    transform: scale(1.05);
}

.footer-box__social-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}
.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-label {
    font-family: 'Arial MT', sans-serif;
    font-size: 12px;
    color: #666666;
}

.social-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social-box__facebook,
.social-box__twitter,
.social-box__pinterest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 55px;
    height: 55px;
}

.social-box__facebook:hover,
.social-box__twitter:hover,
.social-box__pinterest:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-bottom-wrap {
    padding: 35px 0 35px 0;
    background-color: #000000;
}

.footer-bottom__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-bottom__item {
    border-right: 1px solid #8d8d8d;
    padding: 0 10px 0 10px;
    color: #8d8d8d;
    font-family: "Arial MT", sans-serif;
    font-size: 11px;
    font-weight: 400;
}

.footer-bottom__item:nth-child(1) {
    padding-left: 0;
}

.footer-bottom__item:nth-child(5) {
    border-right: none;
}

.footer-bottom__item a {
    color: #8d8d8d;
    text-decoration: none;
}

.footer-bottom__item a:hover {
    color: #fd926d;
}

.footer-bottom__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    color: #8d8d8d;
    font-family: "Arial MT", sans-serif;
    font-size: 11px;
    font-weight: 400;
}