.subscribe
  background-color: $grey-light
  .container
    display: flex
    justify-content: space-between
    align-items: center

.social
  display: flex
  align-items: center
  &-box
    display: flex
    &__facebook,
    &__twitter,
    &__pinterest
      display: flex
      justify-content: center
      align-items: center
      width: 55px
      height: 55px
